<!-- pets/templates/pets/owner_list.html -->
{% extends 'base.html' %}

{% block content %}
<center><h1>Veterinaria Patitas</h1></center>
  <h2>Listado de Dueños</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Dueño</th>
        <th>Dirección</th>
        <th>Teléfono</th>
      </tr>
    </thead>
    <tbody>
      {% for owner in owners %}
        <tr>
          <td><a href="{% url 'owner_update' pk=owner.pk %}">{{ owner.name }}</a></td>
          <td>{{ owner.address }}</td>
          <td>{{ owner.phone }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot><a href="{% url 'owner_create' %}">Registrar Dueño</a></tfoot>
  </table>
{% endblock %}
